.header{
    padding: 0 50px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.heart-icon{
    /*max-width: 30%;*/
    height: 50px;
}
.heart_counter-wrapper{
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}
.heart_counter{
    font-size: 30px;
}
.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
}