.images-container {
    display: flex; /* Используем flex-контейнер */
    justify-content: space-between; /* Равномерно распределяем изображения по контейнеру */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
     /* Добавляем отступы вокруг контейнера */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.images-container img {
    width: 30%; /* Устанавливаем ширину изображений (вы можете выбрать другое значение в зависимости от ваших предпочтений) */
    height: auto; /* Поддержка пропорций */
    margin: 10px; /* Добавляем небольшое пространство между изображениями */
    border-radius: 20px; /* Добавляем скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}
.images-container img:hover {
    border-color: blue; /* Цвет рамки при наведении */
}

.images-container img.selected {
    border: 3px solid deeppink;
}
